:root {
  /* 语义变量 - 请在业务与组件中使用 */
  --color-primary-bg-page-light: var(--color-primary-1);
  --color-primary-bg-page: var(--color-primary-2);
  --color-primary-control-fill-disabled: var(--color-primary-3);
  --color-primary-bg-page-dark: var(--color-primary-3);
  --color-primary-control-fill-tag: var(--color-primary-4);
  --color-primary-control-fill-primary: var(--color-primary-9);
  --color-primary-control-fill-border-active: var(--color-primary-9);
  --color-primary-control-fill-primary-active: var(--color-primary-10);
  --color-primary-control-fill-primary-hover: var(--color-primary-10);
  --color-primary-bg-card-light: var(--color-primary-a2);
  --color-primary-control-fill-active: var(--color-primary-a3);
  --color-primary-border-light: var(--color-primary-a3);
  --color-primary-bg-tip: var(--color-primary-a3);
  --color-primary-control-fill-hover: var(--color-primary-a3);
  --color-primary-control-fill-secondary: var(--color-primary-a3);
  --color-primary-control-fill-secondary-hover: var(--color-primary-a4);
  --color-primary-control-fill-ghost-active: var(--color-primary-a4);
  --color-primary-control-fill-secondary-active: var(--color-primary-a5);
  --color-primary-border-dark: var(--color-primary-a5);
  --color-primary-text-disabled: var(--color-primary-a7);
  --color-primary-text-light: var(--color-primary-a8);
  --color-primary-bg-mask: var(--color-primary-a8);
  --color-primary-text-secondary: var(--color-primary-a11);
  --color-primary-text-default: var(--color-primary-a12);
  --color-gray-bg-page-light: var(--color-gray-1);
  --color-gray-bg-page: var(--color-gray-2);
  --color-gray-control-fill-disabled: var(--color-gray-3);
  --color-gray-bg-page-dark: var(--color-gray-3);
  --color-gray-control-fill-tag: var(--color-gray-4);
  --color-gray-control-fill-primary: var(--color-gray-9);
  --color-gray-control-fill-border-active: var(--color-gray-9);
  --color-gray-control-fill-primary-active: var(--color-gray-10);
  --color-gray-control-fill-primary-hover: var(--color-gray-10);
  --color-gray-bg-card-light: var(--color-gray-a2);
  --color-gray-control-fill-active: var(--color-gray-a3);
  --color-gray-border-light: var(--color-gray-a3);
  --color-gray-bg-tip: var(--color-gray-a3);
  --color-gray-control-fill-hover: var(--color-gray-a3);
  --color-gray-control-fill-secondary: var(--color-gray-a3);
  --color-gray-control-fill-secondary-hover: var(--color-gray-a4);
  --color-gray-control-fill-ghost-active: var(--color-gray-a4);
  --color-gray-control-fill-secondary-active: var(--color-gray-a5);
  --color-gray-border-dark: var(--color-gray-a5);
  --color-gray-text-disabled: var(--color-gray-a7);
  --color-gray-text-light: var(--color-gray-a8);
  --color-gray-bg-mask: var(--color-gray-a8);
  --color-gray-text-secondary: var(--color-gray-a11);
  --color-gray-text-default: var(--color-gray-a12);
  --color-blue-bg-page-light: var(--color-blue-1);
  --color-blue-bg-page: var(--color-blue-2);
  --color-blue-control-fill-disabled: var(--color-blue-3);
  --color-blue-bg-page-dark: var(--color-blue-3);
  --color-blue-control-fill-tag: var(--color-blue-4);
  --color-blue-control-fill-primary: var(--color-blue-9);
  --color-blue-control-fill-border-active: var(--color-blue-9);
  --color-blue-control-fill-primary-active: var(--color-blue-10);
  --color-blue-control-fill-primary-hover: var(--color-blue-10);
  --color-blue-bg-card-light: var(--color-blue-a2);
  --color-blue-control-fill-active: var(--color-blue-a3);
  --color-blue-border-light: var(--color-blue-a3);
  --color-blue-bg-tip: var(--color-blue-a3);
  --color-blue-control-fill-hover: var(--color-blue-a3);
  --color-blue-control-fill-secondary: var(--color-blue-a3);
  --color-blue-control-fill-secondary-hover: var(--color-blue-a4);
  --color-blue-control-fill-ghost-active: var(--color-blue-a4);
  --color-blue-control-fill-secondary-active: var(--color-blue-a5);
  --color-blue-border-dark: var(--color-blue-a5);
  --color-blue-text-disabled: var(--color-blue-a7);
  --color-blue-text-light: var(--color-blue-a8);
  --color-blue-bg-mask: var(--color-blue-a8);
  --color-blue-text-secondary: var(--color-blue-a11);
  --color-blue-text-default: var(--color-blue-a12);
  --color-red-bg-page-light: var(--color-red-1);
  --color-red-bg-page: var(--color-red-2);
  --color-red-control-fill-disabled: var(--color-red-3);
  --color-red-bg-page-dark: var(--color-red-3);
  --color-red-control-fill-tag: var(--color-red-4);
  --color-red-control-fill-primary: var(--color-red-9);
  --color-red-control-fill-border-active: var(--color-red-9);
  --color-red-control-fill-primary-active: var(--color-red-10);
  --color-red-control-fill-primary-hover: var(--color-red-10);
  --color-red-bg-card-light: var(--color-red-a2);
  --color-red-control-fill-active: var(--color-red-a3);
  --color-red-border-light: var(--color-red-a3);
  --color-red-bg-tip: var(--color-red-a3);
  --color-red-control-fill-hover: var(--color-red-a3);
  --color-red-control-fill-secondary: var(--color-red-a3);
  --color-red-control-fill-secondary-hover: var(--color-red-a4);
  --color-red-control-fill-ghost-active: var(--color-red-a4);
  --color-red-control-fill-secondary-active: var(--color-red-a5);
  --color-red-border-dark: var(--color-red-a5);
  --color-red-text-disabled: var(--color-red-a7);
  --color-red-text-light: var(--color-red-a8);
  --color-red-bg-mask: var(--color-red-a8);
  --color-red-text-secondary: var(--color-red-a11);
  --color-red-text-default: var(--color-red-a12);
  --color-green-bg-page-light: var(--color-green-1);
  --color-green-bg-page: var(--color-green-2);
  --color-green-control-fill-disabled: var(--color-green-3);
  --color-green-bg-page-dark: var(--color-green-3);
  --color-green-control-fill-tag: var(--color-green-4);
  --color-green-control-fill-primary: var(--color-green-9);
  --color-green-control-fill-border-active: var(--color-green-9);
  --color-green-control-fill-primary-active: var(--color-green-10);
  --color-green-control-fill-primary-hover: var(--color-green-10);
  --color-green-bg-card-light: var(--color-green-a2);
  --color-green-control-fill-active: var(--color-green-a3);
  --color-green-border-light: var(--color-green-a3);
  --color-green-bg-tip: var(--color-green-a3);
  --color-green-control-fill-hover: var(--color-green-a3);
  --color-green-control-fill-secondary: var(--color-green-a3);
  --color-green-control-fill-secondary-hover: var(--color-green-a4);
  --color-green-control-fill-ghost-active: var(--color-green-a4);
  --color-green-control-fill-secondary-active: var(--color-green-a5);
  --color-green-border-dark: var(--color-green-a5);
  --color-green-text-disabled: var(--color-green-a7);
  --color-green-text-light: var(--color-green-a8);
  --color-green-bg-mask: var(--color-green-a8);
  --color-green-text-secondary: var(--color-green-a11);
  --color-green-text-default: var(--color-green-a12);
  --color-orange-bg-page-light: var(--color-orange-1);
  --color-orange-bg-page: var(--color-orange-2);
  --color-orange-control-fill-disabled: var(--color-orange-3);
  --color-orange-bg-page-dark: var(--color-orange-3);
  --color-orange-control-fill-tag: var(--color-orange-4);
  --color-orange-control-fill-primary: var(--color-orange-9);
  --color-orange-control-fill-border-active: var(--color-orange-9);
  --color-orange-control-fill-primary-active: var(--color-orange-10);
  --color-orange-control-fill-primary-hover: var(--color-orange-10);
  --color-orange-bg-card-light: var(--color-orange-a2);
  --color-orange-control-fill-active: var(--color-orange-a3);
  --color-orange-border-light: var(--color-orange-a3);
  --color-orange-bg-tip: var(--color-orange-a3);
  --color-orange-control-fill-hover: var(--color-orange-a3);
  --color-orange-control-fill-secondary: var(--color-orange-a3);
  --color-orange-control-fill-secondary-hover: var(--color-orange-a4);
  --color-orange-control-fill-ghost-active: var(--color-orange-a4);
  --color-orange-control-fill-secondary-active: var(--color-orange-a5);
  --color-orange-border-dark: var(--color-orange-a5);
  --color-orange-text-disabled: var(--color-orange-a7);
  --color-orange-text-light: var(--color-orange-a8);
  --color-orange-bg-mask: var(--color-orange-a8);
  --color-orange-text-secondary: var(--color-orange-a11);
  --color-orange-text-default: var(--color-orange-a12);
  --color-yellow-bg-page-light: var(--color-yellow-1);
  --color-yellow-bg-page: var(--color-yellow-2);
  --color-yellow-control-fill-disabled: var(--color-yellow-3);
  --color-yellow-bg-page-dark: var(--color-yellow-3);
  --color-yellow-control-fill-tag: var(--color-yellow-4);
  --color-yellow-control-fill-primary: var(--color-yellow-9);
  --color-yellow-control-fill-border-active: var(--color-yellow-9);
  --color-yellow-control-fill-primary-active: var(--color-yellow-10);
  --color-yellow-control-fill-primary-hover: var(--color-yellow-10);
  --color-yellow-bg-card-light: var(--color-yellow-a2);
  --color-yellow-control-fill-active: var(--color-yellow-a3);
  --color-yellow-border-light: var(--color-yellow-a3);
  --color-yellow-bg-tip: var(--color-yellow-a3);
  --color-yellow-control-fill-hover: var(--color-yellow-a3);
  --color-yellow-control-fill-secondary: var(--color-yellow-a3);
  --color-yellow-control-fill-secondary-hover: var(--color-yellow-a4);
  --color-yellow-control-fill-ghost-active: var(--color-yellow-a4);
  --color-yellow-control-fill-secondary-active: var(--color-yellow-a5);
  --color-yellow-border-dark: var(--color-yellow-a5);
  --color-yellow-text-disabled: var(--color-yellow-a7);
  --color-yellow-text-light: var(--color-yellow-a8);
  --color-yellow-bg-mask: var(--color-yellow-a8);
  --color-yellow-text-secondary: var(--color-yellow-a11);
  --color-yellow-text-default: var(--color-yellow-a12);
  --color-sub0-bg-page-light: var(--color-sub0-1);
  --color-sub0-bg-page: var(--color-sub0-2);
  --color-sub0-control-fill-disabled: var(--color-sub0-3);
  --color-sub0-bg-page-dark: var(--color-sub0-3);
  --color-sub0-control-fill-tag: var(--color-sub0-4);
  --color-sub0-control-fill-primary: var(--color-sub0-9);
  --color-sub0-control-fill-border-active: var(--color-sub0-9);
  --color-sub0-control-fill-primary-active: var(--color-sub0-10);
  --color-sub0-control-fill-primary-hover: var(--color-sub0-10);
  --color-sub0-bg-card-light: var(--color-sub0-a2);
  --color-sub0-control-fill-active: var(--color-sub0-a3);
  --color-sub0-border-light: var(--color-sub0-a3);
  --color-sub0-bg-tip: var(--color-sub0-a3);
  --color-sub0-control-fill-hover: var(--color-sub0-a3);
  --color-sub0-control-fill-secondary: var(--color-sub0-a3);
  --color-sub0-control-fill-secondary-hover: var(--color-sub0-a4);
  --color-sub0-control-fill-ghost-active: var(--color-sub0-a4);
  --color-sub0-control-fill-secondary-active: var(--color-sub0-a5);
  --color-sub0-border-dark: var(--color-sub0-a5);
  --color-sub0-text-disabled: var(--color-sub0-a7);
  --color-sub0-text-light: var(--color-sub0-a8);
  --color-sub0-bg-mask: var(--color-sub0-a8);
  --color-sub0-text-secondary: var(--color-sub0-a11);
  --color-sub0-text-default: var(--color-sub0-a12);
  --color-sub1-bg-page-light: var(--color-sub1-1);
  --color-sub1-bg-page: var(--color-sub1-2);
  --color-sub1-control-fill-disabled: var(--color-sub1-3);
  --color-sub1-bg-page-dark: var(--color-sub1-3);
  --color-sub1-control-fill-tag: var(--color-sub1-4);
  --color-sub1-control-fill-primary: var(--color-sub1-9);
  --color-sub1-control-fill-border-active: var(--color-sub1-9);
  --color-sub1-control-fill-primary-active: var(--color-sub1-10);
  --color-sub1-control-fill-primary-hover: var(--color-sub1-10);
  --color-sub1-bg-card-light: var(--color-sub1-a2);
  --color-sub1-control-fill-active: var(--color-sub1-a3);
  --color-sub1-border-light: var(--color-sub1-a3);
  --color-sub1-bg-tip: var(--color-sub1-a3);
  --color-sub1-control-fill-hover: var(--color-sub1-a3);
  --color-sub1-control-fill-secondary: var(--color-sub1-a3);
  --color-sub1-control-fill-secondary-hover: var(--color-sub1-a4);
  --color-sub1-control-fill-ghost-active: var(--color-sub1-a4);
  --color-sub1-control-fill-secondary-active: var(--color-sub1-a5);
  --color-sub1-border-dark: var(--color-sub1-a5);
  --color-sub1-text-disabled: var(--color-sub1-a7);
  --color-sub1-text-light: var(--color-sub1-a8);
  --color-sub1-bg-mask: var(--color-sub1-a8);
  --color-sub1-text-secondary: var(--color-sub1-a11);
  --color-sub1-text-default: var(--color-sub1-a12);
  --color-sub2-bg-page-light: var(--color-sub2-1);
  --color-sub2-bg-page: var(--color-sub2-2);
  --color-sub2-control-fill-disabled: var(--color-sub2-3);
  --color-sub2-bg-page-dark: var(--color-sub2-3);
  --color-sub2-control-fill-tag: var(--color-sub2-4);
  --color-sub2-control-fill-primary: var(--color-sub2-9);
  --color-sub2-control-fill-border-active: var(--color-sub2-9);
  --color-sub2-control-fill-primary-active: var(--color-sub2-10);
  --color-sub2-control-fill-primary-hover: var(--color-sub2-10);
  --color-sub2-bg-card-light: var(--color-sub2-a2);
  --color-sub2-control-fill-active: var(--color-sub2-a3);
  --color-sub2-border-light: var(--color-sub2-a3);
  --color-sub2-bg-tip: var(--color-sub2-a3);
  --color-sub2-control-fill-hover: var(--color-sub2-a3);
  --color-sub2-control-fill-secondary: var(--color-sub2-a3);
  --color-sub2-control-fill-secondary-hover: var(--color-sub2-a4);
  --color-sub2-control-fill-ghost-active: var(--color-sub2-a4);
  --color-sub2-control-fill-secondary-active: var(--color-sub2-a5);
  --color-sub2-border-dark: var(--color-sub2-a5);
  --color-sub2-text-disabled: var(--color-sub2-a7);
  --color-sub2-text-light: var(--color-sub2-a8);
  --color-sub2-bg-mask: var(--color-sub2-a8);
  --color-sub2-text-secondary: var(--color-sub2-a11);
  --color-sub2-text-default: var(--color-sub2-a12);
  --color-sub3-bg-page-light: var(--color-sub3-1);
  --color-sub3-bg-page: var(--color-sub3-2);
  --color-sub3-control-fill-disabled: var(--color-sub3-3);
  --color-sub3-bg-page-dark: var(--color-sub3-3);
  --color-sub3-control-fill-tag: var(--color-sub3-4);
  --color-sub3-control-fill-primary: var(--color-sub3-9);
  --color-sub3-control-fill-border-active: var(--color-sub3-9);
  --color-sub3-control-fill-primary-active: var(--color-sub3-10);
  --color-sub3-control-fill-primary-hover: var(--color-sub3-10);
  --color-sub3-bg-card-light: var(--color-sub3-a2);
  --color-sub3-control-fill-active: var(--color-sub3-a3);
  --color-sub3-border-light: var(--color-sub3-a3);
  --color-sub3-bg-tip: var(--color-sub3-a3);
  --color-sub3-control-fill-hover: var(--color-sub3-a3);
  --color-sub3-control-fill-secondary: var(--color-sub3-a3);
  --color-sub3-control-fill-secondary-hover: var(--color-sub3-a4);
  --color-sub3-control-fill-ghost-active: var(--color-sub3-a4);
  --color-sub3-control-fill-secondary-active: var(--color-sub3-a5);
  --color-sub3-border-dark: var(--color-sub3-a5);
  --color-sub3-text-disabled: var(--color-sub3-a7);
  --color-sub3-text-light: var(--color-sub3-a8);
  --color-sub3-bg-mask: var(--color-sub3-a8);
  --color-sub3-text-secondary: var(--color-sub3-a11);
  --color-sub3-text-default: var(--color-sub3-a12);
  --color-sub4-bg-page-light: var(--color-sub4-1);
  --color-sub4-bg-page: var(--color-sub4-2);
  --color-sub4-control-fill-disabled: var(--color-sub4-3);
  --color-sub4-bg-page-dark: var(--color-sub4-3);
  --color-sub4-control-fill-tag: var(--color-sub4-4);
  --color-sub4-control-fill-primary: var(--color-sub4-9);
  --color-sub4-control-fill-border-active: var(--color-sub4-9);
  --color-sub4-control-fill-primary-active: var(--color-sub4-10);
  --color-sub4-control-fill-primary-hover: var(--color-sub4-10);
  --color-sub4-bg-card-light: var(--color-sub4-a2);
  --color-sub4-control-fill-active: var(--color-sub4-a3);
  --color-sub4-border-light: var(--color-sub4-a3);
  --color-sub4-bg-tip: var(--color-sub4-a3);
  --color-sub4-control-fill-hover: var(--color-sub4-a3);
  --color-sub4-control-fill-secondary: var(--color-sub4-a3);
  --color-sub4-control-fill-secondary-hover: var(--color-sub4-a4);
  --color-sub4-control-fill-ghost-active: var(--color-sub4-a4);
  --color-sub4-control-fill-secondary-active: var(--color-sub4-a5);
  --color-sub4-border-dark: var(--color-sub4-a5);
  --color-sub4-text-disabled: var(--color-sub4-a7);
  --color-sub4-text-light: var(--color-sub4-a8);
  --color-sub4-bg-mask: var(--color-sub4-a8);
  --color-sub4-text-secondary: var(--color-sub4-a11);
  --color-sub4-text-default: var(--color-sub4-a12);
  --color-sub5-bg-page-light: var(--color-sub5-1);
  --color-sub5-bg-page: var(--color-sub5-2);
  --color-sub5-control-fill-disabled: var(--color-sub5-3);
  --color-sub5-bg-page-dark: var(--color-sub5-3);
  --color-sub5-control-fill-tag: var(--color-sub5-4);
  --color-sub5-control-fill-primary: var(--color-sub5-9);
  --color-sub5-control-fill-border-active: var(--color-sub5-9);
  --color-sub5-control-fill-primary-active: var(--color-sub5-10);
  --color-sub5-control-fill-primary-hover: var(--color-sub5-10);
  --color-sub5-bg-card-light: var(--color-sub5-a2);
  --color-sub5-control-fill-active: var(--color-sub5-a3);
  --color-sub5-border-light: var(--color-sub5-a3);
  --color-sub5-bg-tip: var(--color-sub5-a3);
  --color-sub5-control-fill-hover: var(--color-sub5-a3);
  --color-sub5-control-fill-secondary: var(--color-sub5-a3);
  --color-sub5-control-fill-secondary-hover: var(--color-sub5-a4);
  --color-sub5-control-fill-ghost-active: var(--color-sub5-a4);
  --color-sub5-control-fill-secondary-active: var(--color-sub5-a5);
  --color-sub5-border-dark: var(--color-sub5-a5);
  --color-sub5-text-disabled: var(--color-sub5-a7);
  --color-sub5-text-light: var(--color-sub5-a8);
  --color-sub5-bg-mask: var(--color-sub5-a8);
  --color-sub5-text-secondary: var(--color-sub5-a11);
  --color-sub5-text-default: var(--color-sub5-a12);
  --color-sub6-bg-page-light: var(--color-sub6-1);
  --color-sub6-bg-page: var(--color-sub6-2);
  --color-sub6-control-fill-disabled: var(--color-sub6-3);
  --color-sub6-bg-page-dark: var(--color-sub6-3);
  --color-sub6-control-fill-tag: var(--color-sub6-4);
  --color-sub6-control-fill-primary: var(--color-sub6-9);
  --color-sub6-control-fill-border-active: var(--color-sub6-9);
  --color-sub6-control-fill-primary-active: var(--color-sub6-10);
  --color-sub6-control-fill-primary-hover: var(--color-sub6-10);
  --color-sub6-bg-card-light: var(--color-sub6-a2);
  --color-sub6-control-fill-active: var(--color-sub6-a3);
  --color-sub6-border-light: var(--color-sub6-a3);
  --color-sub6-bg-tip: var(--color-sub6-a3);
  --color-sub6-control-fill-hover: var(--color-sub6-a3);
  --color-sub6-control-fill-secondary: var(--color-sub6-a3);
  --color-sub6-control-fill-secondary-hover: var(--color-sub6-a4);
  --color-sub6-control-fill-ghost-active: var(--color-sub6-a4);
  --color-sub6-control-fill-secondary-active: var(--color-sub6-a5);
  --color-sub6-border-dark: var(--color-sub6-a5);
  --color-sub6-text-disabled: var(--color-sub6-a7);
  --color-sub6-text-light: var(--color-sub6-a8);
  --color-sub6-bg-mask: var(--color-sub6-a8);
  --color-sub6-text-secondary: var(--color-sub6-a11);
  --color-sub6-text-default: var(--color-sub6-a12);
  --color-sub7-bg-page-light: var(--color-sub7-1);
  --color-sub7-bg-page: var(--color-sub7-2);
  --color-sub7-control-fill-disabled: var(--color-sub7-3);
  --color-sub7-bg-page-dark: var(--color-sub7-3);
  --color-sub7-control-fill-tag: var(--color-sub7-4);
  --color-sub7-control-fill-primary: var(--color-sub7-9);
  --color-sub7-control-fill-border-active: var(--color-sub7-9);
  --color-sub7-control-fill-primary-active: var(--color-sub7-10);
  --color-sub7-control-fill-primary-hover: var(--color-sub7-10);
  --color-sub7-bg-card-light: var(--color-sub7-a2);
  --color-sub7-control-fill-active: var(--color-sub7-a3);
  --color-sub7-border-light: var(--color-sub7-a3);
  --color-sub7-bg-tip: var(--color-sub7-a3);
  --color-sub7-control-fill-hover: var(--color-sub7-a3);
  --color-sub7-control-fill-secondary: var(--color-sub7-a3);
  --color-sub7-control-fill-secondary-hover: var(--color-sub7-a4);
  --color-sub7-control-fill-ghost-active: var(--color-sub7-a4);
  --color-sub7-control-fill-secondary-active: var(--color-sub7-a5);
  --color-sub7-border-dark: var(--color-sub7-a5);
  --color-sub7-text-disabled: var(--color-sub7-a7);
  --color-sub7-text-light: var(--color-sub7-a8);
  --color-sub7-bg-mask: var(--color-sub7-a8);
  --color-sub7-text-secondary: var(--color-sub7-a11);
  --color-sub7-text-default: var(--color-sub7-a12);
  --color-gray-bg-card-white: var(--color-gray-contrast);
  --color-gray-contrast: #fff;
  --color-gray-bg-transparent: transparent;
  --font-text-number-xs: var(--font-weight-emphasized) var(--font-size-xs) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-sm: var(--font-weight-emphasized) var(--font-size-sm) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-base: var(--font-weight-emphasized) var(--font-size-base) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-lg: var(--font-weight-emphasized) var(--font-size-lg) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-xl: var(--font-weight-emphasized) var(--font-size-xl) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-2xl: var(--font-weight-emphasized) var(--font-size-2xl) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-3xl: var(--font-weight-emphasized) var(--font-size-3xl) /
    var(--line-height-none) var(--font-family-number);
  --font-text-number-4xl: var(--font-weight-emphasized) var(--font-size-4xl) /
    var(--line-height-none) var(--font-family-number);
  --font-text-body-xs: var(--font-weight-base) var(--font-size-xs) /
    var(--line-height-xs) var(--font-family-text);
  --font-text-body-sm: var(--font-weight-base) var(--font-size-sm) /
    var(--line-height-sm) var(--font-family-text);
  --font-text-body-base: var(--font-weight-base) var(--font-size-base) /
    var(--line-height-base) var(--font-family-text);
  --font-text-body-lg: var(--font-weight-base) var(--font-size-lg) /
    var(--line-height-lg) var(--font-family-text);
  --font-text-body-xl: var(--font-weight-base) var(--font-size-xl) /
    var(--line-height-xl) var(--font-family-text);
  --font-text-body-emphasized-xs: var(--font-weight-emphasized)
    var(--font-size-xs) / var(--line-height-xs) var(--font-family-text);
  --font-text-body-emphasized-sm: var(--font-weight-emphasized)
    var(--font-size-sm) / var(--line-height-sm) var(--font-family-text);
  --font-text-body-emphasized-base: var(--font-weight-emphasized)
    var(--font-size-base) / var(--line-height-base) var(--font-family-text);
  --font-text-body-emphasized-lg: var(--font-weight-emphasized)
    var(--font-size-lg) / var(--line-height-lg) var(--font-family-text);
  --font-text-body-emphasized-xl: var(--font-weight-emphasized)
    var(--font-size-xl) / var(--line-height-xl) var(--font-family-text);
  --font-text-paragraph-xs: var(--font-weight-base) var(--font-size-xs) /
    var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-sm: var(--font-weight-base) var(--font-size-sm) /
    var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-base: var(--font-weight-base) var(--font-size-base) /
    var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-lg: var(--font-weight-base) var(--font-size-lg) /
    var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-xl: var(--font-weight-base) var(--font-size-xl) /
    var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-emphasized-xs: var(--font-weight-emphasized)
    var(--font-size-xs) / var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-emphasized-sm: var(--font-weight-emphasized)
    var(--font-size-sm) / var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-emphasized-base: var(--font-weight-emphasized)
    var(--font-size-base) / var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-emphasized-lg: var(--font-weight-emphasized)
    var(--font-size-lg) / var(--line-height-loose) var(--font-family-text);
  --font-text-paragraph-emphasized-xl: var(--font-weight-emphasized)
    var(--font-size-xl) / var(--line-height-loose) var(--font-family-text);
  --font-text-code-base: var(--font-weight-base) var(--font-size-sm) /
    var(--line-height-loose) var(--font-family-code);
  --font-text-code-lg: var(--font-weight-base) var(--font-size-base) /
    var(--line-height-loose) var(--font-family-code);
  --font-text-code-emphasized-base: var(--font-weight-emphasized)
    var(--font-size-sm) / var(--line-height-loose) var(--font-family-code);
  --font-text-code-emphasized-lg: var(--font-weight-emphasized)
    var(--font-size-base) / var(--line-height-loose) var(--font-family-code);
  --font-text-h1-base: var(--font-weight-heading) var(--font-size-h1) /
    var(--line-height-4xl) var(--font-family-text);
  --letter-spacing-h1-base: var(--letter-spacing-loose);
  --font-text-h2-base: var(--font-weight-heading) var(--font-size-h2) /
    var(--line-height-3xl) var(--font-family-text);
  --font-text-h3-base: var(--font-weight-heading) var(--font-size-h3) /
    var(--line-height-2xl) var(--font-family-text);
  --font-text-h4-base: var(--font-weight-heading) var(--font-size-h4) /
    var(--line-height-xl) var(--font-family-text);
  --letter-spacing-h4-base: var(--letter-spacing-loose);
  --font-text-h5-base: var(--font-weight-heading) var(--font-size-h5) /
    var(--line-height-lg) var(--font-family-text);
  --font-text-h6-base: var(--font-weight-heading) var(--font-size-h6) /
    var(--line-height-base) var(--font-family-text);
  --font-text-stylish-h1-base: var(--font-weight-heading) var(--font-size-h1) /
    var(--line-height-4xl) var(--font-family-stylish);
  --letter-spacing-stylish-h1-base: var(--letter-spacing-loose);
  --font-text-stylish-h2-base: var(--font-weight-heading) var(--font-size-h2) /
    var(--line-height-3xl) var(--font-family-stylish);
  --font-text-stylish-h3-base: var(--font-weight-heading) var(--font-size-h3) /
    var(--line-height-2xl) var(--font-family-stylish);
  --font-text-stylish-h4-base: var(--font-weight-heading) var(--font-size-h4) /
    var(--line-height-xl) var(--font-family-stylish);
  --letter-spacing-stylish-h4-base: var(--letter-spacing-loose);
  --font-text-stylish-h5-base: var(--font-weight-heading) var(--font-size-h5) /
    var(--line-height-lg) var(--font-family-stylish);
  --font-text-stylish-h6-base: var(--font-weight-heading) var(--font-size-h6) /
    var(--line-height-base) var(--font-family-stylish);
  --shadow-border-base: var(--shadow-hard-xs);
  --shadow-border-lg: var(--shadow-hard-sm);
  --shadow-control-base: var(--shadow-hard-base);
  --shadow-control-lg: var(--shadow-hard-lg);
  --shadow-card-base: var(--shadow-soft-base);
  --shadow-card-lg: var(--shadow-soft-lg);
  --shadow-popover-base: var(--shadow-soft-xl);
  --shadow-popover-border-base: var(--shadow-hard-xl);
  --shadow-modal-base: var(--shadow-soft-2xl);
  --shadow-modal-border-base: var(--shadow-hard-2xl);
  --padding-unit: 4px;
  --padding-0-25x: 1px;
  --padding-0-5x: 2px;
  --padding-1x: 4px;
  --padding-1-5x: 6px;
  --padding-2x: 8px;
  --padding-3x: 12px;
  --padding-4x: 16px;
  --padding-5x: 20px;
  --padding-6x: 24px;
  --padding-7x: 28px;
  --padding-8x: 32px;
  --padding-9x: 36px;
  --padding-10x: 40px;
  --padding-11x: 44px;
  --padding-12x: 48px;
  --padding-13x: 52px;
  --padding-14x: 56px;
  --padding-15x: 60px;
  --padding-16x: 64px;
  --padding-17x: 68px;
  --padding-18x: 72px;
  --padding-19x: 76px;
  --padding-20x: 80px;
  --margin-unit: 4px;
  --margin-0-25x: 1px;
  --margin-0-5x: 2px;
  --margin-1x: 4px;
  --margin-1-5x: 6px;
  --margin-2x: 8px;
  --margin-3x: 12px;
  --margin-4x: 16px;
  --margin-5x: 20px;
  --margin-6x: 24px;
  --margin-7x: 28px;
  --margin-8x: 32px;
  --margin-9x: 36px;
  --margin-10x: 40px;
  --margin-11x: 44px;
  --margin-12x: 48px;
  --margin-13x: 52px;
  --margin-14x: 56px;
  --margin-15x: 60px;
  --margin-16x: 64px;
  --margin-17x: 68px;
  --margin-18x: 72px;
  --margin-19x: 76px;
  --margin-20x: 80px;
  --height-control-3xs: 16px;
  --height-control-2xs: 20px;
  --height-control-xs: 24px;
  --height-control-sm: 28px;
  --height-control-base: 32px;
  --height-control-lg: 36px;
  --height-control-xl: 40px;
  --height-control-2xl: 48px;
  --height-control-3xl: 56px;
  --radius-control-xs: 4px;
  --radius-control-sm: 6px;
  --radius-control-base: 8px;
  --radius-control-lg: 12px;
  --radius-card-lg: 16px;
  --radius-card-base: 12px;
  --radius-modal-base: 20px;
  --radius-circle-base: 999px;

  /* 全局变量 - 请尽量使用语义变量 */
  /* stylelint-disable value-keyword-case */
  --font-family-text:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  --font-family-number:
    Rubik, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  --font-family-stylish:
    'DingTalk JinBuTi', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  --font-family-code:
    'Roboto Mono', 'SF Mono', Monaco, 'Cascadia Code', 'Liberation Mono',
    'Courier New', monospace;
  --font-family-document:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  /* stylelint-enable value-keyword-case */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-base: 13px;
  --font-size-lg: 15px;
  --font-size-xl: 18px;
  --font-size-2xl: 21px;
  --font-size-3xl: 24px;
  --font-size-4xl: 30px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;
  --font-size-h4: 18px;
  --font-size-h5: 15px;
  --font-size-h6: 13px;
  --line-height-xs: 18px;
  --line-height-sm: 20px;
  --line-height-base: 22px;
  --line-height-lg: 24px;
  --line-height-xl: 26px;
  --line-height-2xl: 28px;
  --line-height-3xl: 32px;
  --line-height-4xl: 36px;
  --line-height-none: 100%;
  --line-height-tight: 120%;
  --line-height-loose: 180%;
  --line-height-wide: 220%;
  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-emphasized: 500;
  --font-weight-heading: 600;
  --letter-spacing-tight: -0.02em;
  --letter-spacing-base: 0;
  --letter-spacing-loose: 0.04em;
  --shadow-hard-xs: inset 0 0 1px 0 rgba(var(--color-primary-12-rgb), 15%);
  --shadow-hard-sm: inset 0 0 1px 0 rgba(var(--color-primary-12-rgb), 25%);
  --shadow-hard-base:
    0 0 1px 0 rgba(var(--color-primary-12-rgb), 20%),
    0 1.5px 4px -1px rgba(var(--color-primary-12-rgb), 4%);
  --shadow-hard-lg:
    0 0 1px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 2px 7px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 2px 5px -2px rgba(var(--color-primary-12-rgb), 6%);
  --shadow-hard-xl:
    0 0 1px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 2px 7px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 2px 5px -2px rgba(var(--color-primary-12-rgb), 6%);
  --shadow-hard-2xl:
    0 0 1px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 4px 14px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 4px 10px -4px rgba(var(--color-primary-12-rgb), 6%);
  --shadow-soft-xs: 0 1.5px 4px -1px rgba(var(--color-primary-12-rgb), 7%);
  --shadow-soft-sm:
    0 2px 4px -1px rgba(var(--color-primary-12-rgb), 2%),
    0 5px 13px -5px rgba(var(--color-primary-12-rgb), 5%);
  --shadow-soft-base: 0 1.5px 4px -1px rgba(var(--color-primary-12-rgb), 7%);
  --shadow-soft-lg: 0 2px 6px -1px rgba(var(--color-primary-12-rgb), 7%);
  --shadow-soft-xl:
    0 0 1px 0 rgba(var(--color-primary-12-rgb), 5%),
    0 6px 16px 0 rgba(var(--color-primary-12-rgb), 8%);
  --shadow-soft-2xl:
    0 0 3px -1px rgba(var(--color-primary-12-rgb), 4%),
    0 32px 33px -15px rgba(var(--color-primary-12-rgb), 17%);
  --shadow-stylish-base:
    -32.23px 21.77px 24px -2px #e6d9ff,
    -0.77px 13.23px 56px -3px rgba(57, 122, 252, 65%),
    39.77px -29.23px 19px -34px rgba(109, 250, 97, 24%);

  /* 全局颜色变量 - 浅色主题 */
  --color-primary-1: #fcfdff;
  --color-primary-2: #f5f9ff;
  --color-primary-3: #e9f3ff;
  --color-primary-4: #daecff;
  --color-primary-5: #c8e2ff;
  --color-primary-6: #b4d4ff;
  --color-primary-7: #9ac2ff;
  --color-primary-8: #689ef0;
  --color-primary-9: #1d7afc;
  --color-primary-10: #066ced;
  --color-primary-11: #0068e8;
  --color-primary-12: #0a3068;
  --color-primary-a1: #0055ff03;
  --color-primary-a2: #0066ff0a;
  --color-primary-a3: #0074ff16;
  --color-primary-a4: #007dff25;
  --color-primary-a5: #0079ff37;
  --color-primary-a6: #016dff4b;
  --color-primary-a7: #0065ff65;
  --color-primary-a8: #005ce697;
  --color-primary-a9: #0069fce2;
  --color-primary-a10: #0068edf9;
  --color-primary-a11: #0068e8;
  --color-primary-a12: #002862f5;
  --color-gray-1: #fdfefe;
  --color-gray-2: #f7f8f9;
  --color-gray-3: #f1f2f3;
  --color-gray-4: #eaecee;
  --color-gray-5: #e2e5e8;
  --color-gray-6: #d9dde2;
  --color-gray-7: #c7ccd3;
  --color-gray-8: #b6bcc5;
  --color-gray-9: #14161c;
  --color-gray-10: #2b2e34;
  --color-gray-11: #767e8b;
  --color-gray-12: #343a45;
  --color-gray-a1: #14161c03;
  --color-gray-a2: #14161c08;
  --color-gray-a3: #14161c0f;
  --color-gray-a4: #14161c14;
  --color-gray-a5: #14161c1a;
  --color-gray-a6: #14161c1f;
  --color-gray-a7: #535f744d;
  --color-gray-a8: #505c716b;
  --color-gray-a9: #14161c;
  --color-gray-a10: #2b2e34;
  --color-gray-a11: #545d6dcc;
  --color-gray-a12: #343a45;
  --color-blue-1: #fcfdff;
  --color-blue-2: #f5f9ff;
  --color-blue-3: #e9f3ff;
  --color-blue-4: #daecff;
  --color-blue-5: #c8e2ff;
  --color-blue-6: #b4d4ff;
  --color-blue-7: #9ac2ff;
  --color-blue-8: #689ef0;
  --color-blue-9: #1d7afc;
  --color-blue-10: #066ced;
  --color-blue-11: #0068e8;
  --color-blue-12: #0a3068;
  --color-blue-a1: #0055ff03;
  --color-blue-a2: #0066ff0a;
  --color-blue-a3: #0074ff16;
  --color-blue-a4: #007dff25;
  --color-blue-a5: #0079ff37;
  --color-blue-a6: #016dff4b;
  --color-blue-a7: #0065ff65;
  --color-blue-a8: #005ce697;
  --color-blue-a9: #0069fce2;
  --color-blue-a10: #0068edf9;
  --color-blue-a11: #0068e8;
  --color-blue-a12: #002862f5;
  --color-red-1: #fffcfc;
  --color-red-2: #fff8f7;
  --color-red-3: #feebe9;
  --color-red-4: #ffdcd7;
  --color-red-5: #ffcec7;
  --color-red-6: #fcbeb5;
  --color-red-7: #f3aaa0;
  --color-red-8: #dd847a;
  --color-red-9: #f15b50;
  --color-red-10: #e44d43;
  --color-red-11: #cc3730;
  --color-red-12: #5f211d;
  --color-red-a1: #ff000003;
  --color-red-a2: #ff200008;
  --color-red-a3: #f4180016;
  --color-red-a4: #ff200028;
  --color-red-a5: #ff200038;
  --color-red-a6: #f520014a;
  --color-red-a7: #df1b005f;
  --color-red-a8: #be140085;
  --color-red-a9: #eb1000af;
  --color-red-a10: #db0e00bc;
  --color-red-a11: #c00900cf;
  --color-red-a12: #4b0500e2;
  --color-green-1: #fafefc;
  --color-green-2: #f3fbf6;
  --color-green-3: #e3f8eb;
  --color-green-4: #d1f3df;
  --color-green-5: #bbecd0;
  --color-green-6: #a0e1be;
  --color-green-7: #7ad3a5;
  --color-green-8: #1bb378;
  --color-green-9: #2abb7f;
  --color-green-10: #10af74;
  --color-green-11: #00834d;
  --color-green-12: #113d29;
  --color-green-a1: #00cc6605;
  --color-green-a2: #00aa400c;
  --color-green-a3: #00c0491c;
  --color-green-a4: #00bd4e2e;
  --color-green-a5: #00b84f44;
  --color-green-a6: #00af515f;
  --color-green-a7: #00ab5385;
  --color-green-a8: #00aa68e4;
  --color-green-a9: #00ae66d5;
  --color-green-a10: #00aa6bef;
  --color-green-a11: #00834d;
  --color-green-a12: #002f1aee;
  --color-orange-1: #fefcfa;
  --color-orange-2: #fff5ec;
  --color-orange-3: #ffead4;
  --color-orange-4: #ffd9b5;
  --color-orange-5: #ffcb9e;
  --color-orange-6: #ffbc83;
  --color-orange-7: #ffa55d;
  --color-orange-8: #ee8017;
  --color-orange-9: #f78826;
  --color-orange-10: #ea7d10;
  --color-orange-11: #c65b00;
  --color-orange-12: #5c2c00;
  --color-orange-a1: #cc660005;
  --color-orange-a2: #ff790013;
  --color-orange-a3: #ff83012b;
  --color-orange-a4: #ff7d014a;
  --color-orange-a5: #ff770061;
  --color-orange-a6: #ff76007c;
  --color-orange-a7: #ff7200a2;
  --color-orange-a8: #ec7300e8;
  --color-orange-a9: #f67300d9;
  --color-orange-a10: #e97400ef;
  --color-orange-a11: #c65b00;
  --color-orange-a12: #5c2c00;
  --color-yellow-1: #fefdfb;
  --color-yellow-2: #fff9e6;
  --color-yellow-3: #fff0c7;
  --color-yellow-4: #ffe6b0;
  --color-yellow-5: #ffdb93;
  --color-yellow-6: #ffcb66;
  --color-yellow-7: #fbb94e;
  --color-yellow-8: #de9300;
  --color-yellow-9: #f3a700;
  --color-yellow-10: #e79c00;
  --color-yellow-11: #a56900;
  --color-yellow-12: #4c3715;
  --color-yellow-a1: #c0800004;
  --color-yellow-a2: #ffc20019;
  --color-yellow-a3: #ffbb0038;
  --color-yellow-a4: #ffaf004f;
  --color-yellow-a5: #ffaa006c;
  --color-yellow-a6: #ffa90099;
  --color-yellow-a7: #f99a00b1;
  --color-yellow-a8: #de9300;
  --color-yellow-a9: #f3a700;
  --color-yellow-a10: #e79c00;
  --color-yellow-a11: #a56900;
  --color-yellow-a12: #3c2500ea;
  --color-sub0-1: #fbfdff;
  --color-sub0-2: #f5f9ff;
  --color-sub0-3: #eaf3ff;
  --color-sub0-4: #dcecff;
  --color-sub0-5: #cbe2ff;
  --color-sub0-6: #b7d4ff;
  --color-sub0-7: #9ec3f9;
  --color-sub0-8: #6e9fe7;
  --color-sub0-9: #388bff;
  --color-sub0-10: #307fec;
  --color-sub0-11: #1a6edd;
  --color-sub0-12: #103263;
  --color-sub0-a1: #0080ff04;
  --color-sub0-a2: #0066ff0a;
  --color-sub0-a3: #006eff15;
  --color-sub0-a4: #0075ff23;
  --color-sub0-a5: #0071ff34;
  --color-sub0-a6: #0067ff48;
  --color-sub0-a7: #0062f061;
  --color-sub0-a8: #0057d591;
  --color-sub0-a9: #006affc7;
  --color-sub0-a10: #0061e8cf;
  --color-sub0-a11: #005ed9e5;
  --color-sub0-a12: #002459ef;
  --color-sub1-1: #fcfcff;
  --color-sub1-2: #f9f8ff;
  --color-sub1-3: #f1f0ff;
  --color-sub1-4: #e7e4ff;
  --color-sub1-5: #dcd9ff;
  --color-sub1-6: #cfc9ff;
  --color-sub1-7: #bcb2ff;
  --color-sub1-8: #9986ff;
  --color-sub1-9: #917ef7;
  --color-sub1-10: #8672e9;
  --color-sub1-11: #654dc1;
  --color-sub1-12: #321973;
  --color-sub1-a1: #0000ff03;
  --color-sub1-a2: #2500ff07;
  --color-sub1-a3: #1100ff0f;
  --color-sub1-a4: #1d00ff1b;
  --color-sub1-a5: #1500ff26;
  --color-sub1-a6: #1d00ff36;
  --color-sub1-a7: #2200ff4d;
  --color-sub1-a8: #2900ff79;
  --color-sub1-a9: #2600f081;
  --color-sub1-a10: #2500d88d;
  --color-sub1-a11: #2300a6b2;
  --color-sub1-a12: #1c0064e6;
  --color-sub2-1: #f8feff;
  --color-sub2-2: #f0fbfe;
  --color-sub2-3: #dbf8ff;
  --color-sub2-4: #c7f2fe;
  --color-sub2-5: #b0eaf9;
  --color-sub2-6: #96def2;
  --color-sub2-7: #71cfe7;
  --color-sub2-8: #00afce;
  --color-sub2-9: #2ad8fc;
  --color-sub2-10: #13cdf0;
  --color-sub2-11: #007b95;
  --color-sub2-12: #004251;
  --color-sub2-a1: #00dbff07;
  --color-sub2-a2: #00bbee0f;
  --color-sub2-a3: #00ceff24;
  --color-sub2-a4: #00c4fb38;
  --color-sub2-a5: #00bcec4f;
  --color-sub2-a6: #00afe069;
  --color-sub2-a7: #00a9d48e;
  --color-sub2-a8: #00afce;
  --color-sub2-a9: #00d0fcd5;
  --color-sub2-a10: #00c9efec;
  --color-sub2-a11: #007b95;
  --color-sub2-a12: #004251;
  --color-sub3-1: #fbfcfe;
  --color-sub3-2: #f7f9fd;
  --color-sub3-3: #ebf1fb;
  --color-sub3-4: #e0e9f8;
  --color-sub3-5: #d5e1f5;
  --color-sub3-6: #c8d7f1;
  --color-sub3-7: #b8caea;
  --color-sub3-8: #90a9d4;
  --color-sub3-9: #718ab6;
  --color-sub3-10: #657ea9;
  --color-sub3-11: #516892;
  --color-sub3-12: #1e2839;
  --color-sub3-a1: #0040c004;
  --color-sub3-a2: #0040c008;
  --color-sub3-a3: #004dcc14;
  --color-sub3-a4: #004bc61f;
  --color-sub3-a5: #0049c32a;
  --color-sub3-a6: #0046bf37;
  --color-sub3-a7: #0041b447;
  --color-sub3-a8: #003a9d6f;
  --color-sub3-a9: #002d7c8e;
  --color-sub3-a10: #002a719a;
  --color-sub3-a11: #00225fae;
  --color-sub3-a12: #000b1fe1;
  --color-sub4-1: #fbfdfa;
  --color-sub4-2: #f6fbf3;
  --color-sub4-3: #e5fad7;
  --color-sub4-4: #d4f5bd;
  --color-sub4-5: #c3eca6;
  --color-sub4-6: #b1df8f;
  --color-sub4-7: #9bce74;
  --color-sub4-8: #72af3b;
  --color-sub4-9: #84dc18;
  --color-sub4-10: #7ad100;
  --color-sub4-11: #507f22;
  --color-sub4-12: #2d431b;
  --color-sub4-a1: #33990005;
  --color-sub4-a2: #40aa000c;
  --color-sub4-a3: #5ae00028;
  --color-sub4-a4: #59d90042;
  --color-sub4-a5: #54c90059;
  --color-sub4-a6: #4eb70070;
  --color-sub4-a7: #48a6008b;
  --color-sub4-a8: #489700c4;
  --color-sub4-a9: #77d800e7;
  --color-sub4-a10: #7ad100;
  --color-sub4-a11: #356b00dd;
  --color-sub4-a12: #142d00e4;
  --color-sub5-1: #fffbfe;
  --color-sub5-2: #fff6fc;
  --color-sub5-3: #ffe5f7;
  --color-sub5-4: #ffd6f1;
  --color-sub5-5: #ffc6e9;
  --color-sub5-6: #ffb5e0;
  --color-sub5-7: #fb9ed5;
  --color-sub5-8: #e873bb;
  --color-sub5-9: #e873bb;
  --color-sub5-10: #db67af;
  --color-sub5-11: #b14089;
  --color-sub5-12: #6e004e;
  --color-sub5-a1: #ff00c004;
  --color-sub5-a2: #ff00aa09;
  --color-sub5-a3: #ff00b11a;
  --color-sub5-a4: #ff00a829;
  --color-sub5-a5: #ff009d39;
  --color-sub5-a6: #ff01954a;
  --color-sub5-a7: #f5009161;
  --color-sub5-a8: #d600848c;
  --color-sub5-a9: #d600848c;
  --color-sub5-a10: #c3007998;
  --color-sub5-a11: #970062bf;
  --color-sub5-a12: #6e004e;
  --color-sub6-1: #fefdfb;
  --color-sub6-2: #fff8ec;
  --color-sub6-3: #fec;
  --color-sub6-4: #ffe3b3;
  --color-sub6-5: #ffd799;
  --color-sub6-6: #ffc984;
  --color-sub6-7: #f3b873;
  --color-sub6-8: #d6943f;
  --color-sub6-9: #f8a530;
  --color-sub6-10: #ec9a1e;
  --color-sub6-11: #ad6600;
  --color-sub6-12: #4c361d;
  --color-sub6-a1: #c0800004;
  --color-sub6-a2: #ffa20013;
  --color-sub6-a3: #fa03;
  --color-sub6-a4: #ffa2004c;
  --color-sub6-a5: #ff9b0066;
  --color-sub6-a6: #ff90017b;
  --color-sub6-a7: #ea7e008c;
  --color-sub6-a8: #c97100c0;
  --color-sub6-a9: #f69000cf;
  --color-sub6-a10: #ea8d00e1;
  --color-sub6-a11: #ad6600;
  --color-sub6-a12: #351c00e2;
  --color-sub7-1: #fafefa;
  --color-sub7-2: #f4fcf4;
  --color-sub7-3: #e2fae3;
  --color-sub7-4: #d0f5d1;
  --color-sub7-5: #baeebc;
  --color-sub7-6: #a0e4a3;
  --color-sub7-7: #7bd681;
  --color-sub7-8: #26b742;
  --color-sub7-9: #49d05b;
  --color-sub7-10: #3bc450;
  --color-sub7-11: #008604;
  --color-sub7-12: #144019;
  --color-sub7-a1: #00cc0005;
  --color-sub7-a2: #00ba000b;
  --color-sub7-a3: #00d4091d;
  --color-sub7-a4: #00c9062f;
  --color-sub7-a5: #00c10845;
  --color-sub7-a6: #00b7095f;
  --color-sub7-a7: #00b00c84;
  --color-sub7-a8: #00aa21d9;
  --color-sub7-a9: #00bd19b6;
  --color-sub7-a10: #00b21bc4;
  --color-sub7-a11: #008604;
  --color-sub7-a12: #003005eb;
  --color-primary-12-rgb: 10, 48, 104;
}
